:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #1abc9c;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1abc9c;
    --secondary: #2c3e50;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
@font-face {
    font-family: fontbold;
    src: url("../fonts/Product Sans Bold.ttf") format('truetype');
}

@font-face {
    font-family: fontbolditalic;
    src: url("../fonts/Product Sans Bold Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontitalic;
    src: url("../fonts/Product Sans Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontregular;
    src: url("../fonts/Product Sans Regular.ttf") format('truetype');
}

body {
    font-family: fontregular;
    background-image: url('../images/background2.jpg');

    /*background-image: linear-gradient(to right top, #ffffff, #e0d6ff, #c5acff, #ae80ff, #994ff9);*/
    /*background-image: -webkit-linear-gradient(to right top, #ffffff, #e0d6ff, #c5acff, #ae80ff, #994ff9);*/
    /*background-image: -moz-linear-gradient(to right top, #ffffff, #e0d6ff, #c5acff, #ae80ff, #994ff9);*/
    /*background-image: -o-linear-gradient(to right top, #ffffff, #e0d6ff, #c5acff, #ae80ff, #994ff9);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-color: #3b4c5a !important;*/
    /*color: #adefd1ff !important;*/
}

.container {
    margin-top: 50px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 50px 0 #343a40;
    color: #f8f9fa !important;
}

html {
    scroll-behavior: smooth;
}

.bg-purple {
    background: #6f42c1;
}

.navbar {
    border-radius: 0 0 0 30px;
}

#maintop {
    color: #f8f9fa;
    background: #6f42c1;
}


@keyframes progressanimate90 {
    from {
        width: 0
    }
    to {
        width: 90%;
    }
}

.animate90 {
    animation-name: progressanimate90;
    animation-duration: 2s;
}

@keyframes progressanimate80 {
    from {
        width: 0
    }
    to {
        width: 80%;
    }
}

.animate80 {
    animation-name: progressanimate80;
    animation-duration: 2s;
}

@keyframes progressanimate70 {
    from {
        width: 0
    }
    to {
        width: 70%;
    }
}

.animate70 {
    animation-name: progressanimate70;
    animation-duration: 2s;
}

.progress-bar {
    background-image: url("../images/background2.jpg");
}

.progress {
    border-radius: 50px !important;
    height: 20px !important;
}


.headingtext {
    font-size: 30px;
    font-family: fontitalic;
    text-align: center;
    color: #f3f2b6 !important;
}
.headingtext span{
    font-family: fontbolditalic;
    font-size: 50px;
}
.card-text,body{
    font-family: fontregular;
    letter-spacing: 2px;
}

.btn {
    border-radius: 50px !important;
    font-family: fontbold;
}
.btn-lightyellow{
    background-color: #f3f2b6;
    border-color: #f3f2b6;
    transition: 0.4s;
}
.btn-lightyellow:hover{
    background-color: #343a40;
    border-color: #343a40;
    color: #f3f2b6;
    transition: 0.4s;
}
.contactfooter div a:hover {
    filter: drop-shadow(0 0 2px #101010);
}

@keyframes backgroundbanner {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 576px) {
    .container {
        /*max-width: 540px;*/
    }
}

.card {
    margin: 10px;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    text-align: center !important;
    box-shadow: 0 0 10px 0 #343a40;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 242, 182, 0.1) !important;
}

.onscroll {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.4s;
}

.noscroll {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    transition: 0.4s;
}

.highlight {
    background: url('../images/brushstroke2.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
    color: white;
}

.projectdate {
    font-size: 10px;
    padding: 5px;
    border-radius: 50px;
}

.btntechlogo {
    height: 20px;
}

.menubtn {
    position: absolute;
    background-color: #2fff00;
    border-radius: 100%;
    padding: 5px;
}

.menubtnback {
    position: absolute;
    height: 50px;
}

