@font-face {
    font-family: fontbold;
    src: url("../fonts/Product Sans Bold.ttf") format('truetype');
}

@font-face {
    font-family: fontbolditalic;
    src: url("../fonts/Product Sans Bold Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontitalic;
    src: url("../fonts/Product Sans Italic.ttf") format('truetype');
}

@font-face {
    font-family: fontregular;
    src: url("../fonts/Product Sans Regular.ttf") format('truetype');
}
html{
    overflow-x: hidden !important;
}
body{
    font-family: fontregularb;
    letter-spacing: 2px;
}
.container{
    /*padding: 10px !important;*/
}
div{
    font-family: fontregular;
}
.headingtext {
    font-size: 30px;
    font-family: fontitalic;
    text-align: center;
    color: #a152fd !important;
}
.headingtext span{
    font-family: fontbolditalic;
    font-size: 50px;
}
@keyframes progressanimate90 {
    from {
        width: 0
    }
    to {
        width: 90%;
    }
}

.animate90 {
    animation-name: progressanimate90;
    animation-duration: 2s;
}

@keyframes progressanimate80 {
    from {
        width: 0
    }
    to {
        width: 80%;
    }
}

.animate80 {
    animation-name: progressanimate80;
    animation-duration: 2s;
}

@keyframes progressanimate70 {
    from {
        width: 0
    }
    to {
        width: 70%;
    }
}

.animate70 {
    animation-name: progressanimate70;
    animation-duration: 2s;
}

.progress-bar {
    background-color: #a152fd !important;
    color:#f8f9fa!important;
    font-family: fontbold;
    /*background-image: url("../images/background.jpg");*/
}

.progress {
    background-color: #d7b6fd !important;
    border-radius: 50px !important;
    border: 1px solid #f3f2b6;
    height: 20px !important;
}
.btn{
    border-radius: 50px !important;
}
.btn-light{
    background-color: #a152fd !important;
    border-color: #a152fd !important;
    color: #f8f9fa !important;
}
.btn-outline-light{
    border-color: #a152fd !important;
    color: #343a40 !important;
}
.card{
    margin: 20px;
    /*border-radius: 50px !important;*/
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    filter:drop-shadow(0px 0px 10px);
}
.card-title{
    font-family: fontbold;
}
.card-footer{
    background-color: #d7b6fd !important;
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}
img[src="images/videoperview.jpg"]:hover{
    cursor: pointer;
}
.form-group div{
    margin: 1vw;
}
.projectdate {
    font-size: 10px;
    padding: 5px;
    border-radius: 50px;
}
.btntechlogo {
    height: 30px;
    transition: 0.4s;
}
#ppbtn,#cpppbtn,#hcjpbtn,#dpbtn{
    height:45px!important;
    width: 130px !important;
}
.text-center a{
    border-radius: 50%;
}
.fa-github{
    color:#343a40;
}
.fa-linkedin{
    color: #0e76a8;
}
.fa-facebook{
    color:#3b5998;
}
.fa-instagram{
    color:#8a3ab9;
}
.fa-twitter{
    color:#00acee;
}
.fa-envelope{
    color:#ff5555;
}
.sicons{
    padding: 10px !important;
}
footer{
    text-align: center;
    padding: 20px;
    font-family: fontregular;
    background-color: #d7b6fd;
}
.seeworking{
    width:100%;
    color:#343a40;
    background-color: #d7b6fd;
    position: relative;
    font-size:20px;
    font-family: fontbolditalic;
    height:150px;
    border-radius: 20px;
    border: 2px solid #343a40;
    text-shadow: 2px 2px 5px #343a40;
    transition:0.2s;
}
.seeworking:hover{
    background-color: #343a40;
    color:#d7b6fd;
    text-shadow: 5px 4px 3px rgba(243, 242, 182,0.6);
    font-size: 18px;
    cursor:pointer;
    transition: 0.2s;
}
.fa-2x{
    transition: 0.2s;
}
/*.fa-youtube{*/
/*    animation: youtubeanimate 10s linear infinite;*/
/*    animation-play-state: paused;*/
/*}*/
.seeworking:hover .fa-2x{
    font-size: 3em !important;
    transition: 0.2s;
    /*animation-play-state: running;*/
}
/*@keyframes youtubeanimate {*/
/*    100% {transform: rotate(1turn); }*/
/*}*/
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.card-footer .fa-github{
    color: #f8f9fa;
}
#bannertext{
    font-family: fontregular;
    font-size: 20px;
}
