.startSection{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* background: radial-gradient(circle at -8.9% 51.2%, #ff7c00 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, #ffa34d 24.4%, #131e25 24.5%, rgb(19, 30, 37) 66%); */
    /* background-image: linear-gradient(to top, #ff7c00, #ff861c, #ff902e, #ff9a3e, #ffa34d); */
    background-color: #131e25;    
    text-align: right !important;
    padding-right: 20px;
    padding-bottom: 50px;
    color: whitesmoke ;    
}

.name{
    font-size: 4rem;
    font-weight: bold;
}

.greet{
    font-size: 2rem;
    font-weight: bold;
}

.myImage{  
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 20px whitesmoke;
}

.typewriter{
    font-size: 2rem;
    font-style: italic;
}