.container {
  margin-bottom: 50px;

  background-color: #131e25;

  border-radius: 50px;
  padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #131e25;
  border-radius: 10px;    
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa34d;
  border-radius: 10px;   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #131e25;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

.hidescroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
