body {
  margin: 0;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}

p {
  margin: 0 !important;
}

.text-orange{
  color: #ffa34d !important;
}

.text-blue{
  color : #131e25 !important;
}

.text-grey{
  color: rgb(200, 200, 200);
}